.about-container{
  display:inline-flex;
  justify-content:space-evenly;
  padding-top: 2%;
  text-align:justify;
  font-family:'Roboto';
}

.about-container img{
    height: 30vh;
}

#about{
    width: 50%;
}

h3{
    padding-top: 2%;
    text-align: center;
    color: #030069;
}

h5{
    text-align:justify;
    color: #000000;
}