
header{
    justify-content:center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 2px #030069 solid;
    padding-bottom: 2%;
    font-family:'Roboto';
}
header div{
    margin-left: 5%;
}

#fotop{
    width: 120px;
    width: 120px;
    border-radius: 50%;
}

h2{
    color: #030069;
}

h3{
    color: #000000;
}

