.idiom-container{
    display: flex;
    justify-content: center;
    padding-bottom: 30%;
    text-align: justify;
}

h3{
     color: #030069;
}

.barra{
    position: relative;
    border: 1px solid #030069;
    border-radius: 20px;
}

.barra div{
    justify-content:space-evenly;
    position: relative;
    width: 0;
    height: 5px;
    border-radius: 10px;
    background-color: #030069;
}

#ingles-barra{
    animation: ingles-barra 2s forwards;
}
@keyframes ingles-barra{
    100%{
        width: 40%;
    }
}